@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap); */

body {
  font-family: 'Montserrat', sans-serif;
}


* {
  font-family: rubik,sans-serif;
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: rgba(65, 65, 65, 1);
}


.container {
 max-width: 1240px;
  padding: 10px 40px  ;
  margin: 0 auto !important;
}

.heading2{
  display: flex;
  align-self: flex-start !important;
  color: rgba(65, 65, 65, 1);
}
.header{
  position: sticky;
  top: 0;
  left: 0;
  height: 80px;
  right: 0;
  z-index: 10;
  background: #fff;


}
.main_header {
  width: 100%;
  box-shadow: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.left{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}
.left>h5{
  color: rgba(65, 65, 65, 1);
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 150px; */
padding: 10px 10px 10px 10px;
gap: 10px;
border-radius: 4px;
opacity: 0px;
cursor: pointer;
background: #70C05B;
color: white;
border: none;
font-weight: 400;
}
button>img{
  padding: 0;
}
input{
  outline: none;
}

.inputs>#input{
  width:100%;
height: 40px;
padding: 8px ;
/* gap: 10px; */
border-radius: 4px;
border: 1px solid rgb(2, 154, 2);
 

}

.inputs{
  position: relative;
}
.inputs>img{
  position: absolute;
  right: 5px;
  top: 8px;
}
.right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px black solid; */
}
.right>a{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  /* gap:8px; */

  color: rgba(65, 65, 65, 1);
}

.person{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px black solid; */
  gap: 10px;
}



.cards {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    padding: 20px;
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.4);
    width: 300px;
    border-radius: 8px;
  }
  
  .card img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .carousel{
    /* border: 1px black solid; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    align-self: center;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 auto;
  }


  .people-str button{
    border: none;
    cursor: pointer;
    }
  
  
  
    
  .peoples{
    display: flex;
    flex-direction: row;
    align-items: center;
    }
      
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #FCD5BACC;
      display: none;
      align-items: center;
      justify-content: center;
      animation: modalScale 0.3s linear alternate;
    }
    .navbar.open {
      position: absolute;
      width: 100% !important;
      display: flex;




























    }
    
    
    .nav-close{
      position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 420px;
    height: 431px;
    border-radius: 4px 4px 4px 4px;
    opacity: 0px;
    box-shadow: 8px 16px 32px 0px #FF663333;
    background: #FFFFFF;
    animation: modalScale 0.3s linear alternate;
    }
    
    .nav-xx  {
      position: absolute;
      right: 5px;
      top: 5px;
    border: 0px;
    color: #F3F2F1;
    }
    
    .nav-exit{
    font-family: Rubik;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    width: 260px;
    height: 36px;
    color: #414141;
    }
    .nav-phone  p{
    font-family: Rubik;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #414141;
    width: 260px;
    height: 27px;
    }
    #input{
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    
    width: 260px;
    height: 60px;
    padding: 12px 16px 12px 16px;
    /* gap: 4px; */
    border-radius: 4px 4px 4px 4px;
    border: 1px 0px 0px 0px;
    border: 1px solid #70C05B;
    box-shadow: 4px 8px 16px 0px #70C05B33;
    outline: none;
    }
    .nav-btn button{
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    width: 228px;
    height: 36px;
    width: 260px;
    height: 68px;
    /* padding: 16px 0px 0px 0px; */
    border-radius: 4px 4px 4px 4px;
    border: none;
    background: #FCD5BA;
    color: #FF6633;
    }
    
    
  .nav1{
    display: flex;
    flex-direction: row;
    gap: 16px;
    }
    .nav1-link button{
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    width: 121px;
    height: 32px;
    gap: 8px;
    color :#414141;
    border-radius: 4px 4px 4px 4px;
    border: 1px  solid #fff ;
    border: none;
    background: none;
    transition: 0.4s;
    }
    .nav1-link button:hover{
    color: #70C05B;
    border: 1px solid #70C05B;
    
    }
    .people-str.open {
      display: flex;
    }
    @keyframes modalScale {
      from {
        transform:scale(0)
      }
      to {
        transform: scale(1);
      }
      
    }
    
  


  










































  
footer{
    background-color:rgba(249, 244, 226, 1);
  display: flex;
  align-items: center;
  
    height: 126px;
    background-image: url(../assets/images/icons/pattern2.svg);
  }
  .foot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap :10px;
  }
  ul{
    display: flex;
    gap: 40px;
  
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  
  }
  .top{
    width: 100%;
    justify-self: space-around;
    gap: 40px;
    display: flex;
  }
  .tel{
    gap: 10px;
    display: flex;
    align-items: center;
  
  }
  .tel>input{
    width: 120px;
    border: none;
    outline: none;
  }
  .foot_bottom{
    color: rgba(65, 65, 65, 1);
    display: flex;
    align-self: flex-end;
    gap: 20px;
  }
  

/* 
  media */

  @media (max-width: 768px){
  
    .container {
      max-width: 1240px;
       padding: 10px  400px ;
       margin: 0 auto !important;
     }
     .header{
      width: 100%;
       position: sticky;
       top: 0;
       left: 0;
       height: 80px;
       right: 0;
       z-index: 10;
       background: #fff;
     
     
     }
        
    
     .left>h5{
      display: none;
       color: rgba(65, 65, 65, 1);
     }
     
    
     button>p{
      display: none;
     }
     input{
       outline: none;
     }
     .right>a{
       font-size: 12px;
     }
     .person>p{
      display: none;
     }
     .icon_shape{
      display: none;
     }
    
    
   footer{
    max-width: 768px;
    background-color:rgba(249, 244, 226, 1);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
    height: 145px;
    background-image: url(../assets/images/icons/pattern2.svg);
  }
  .foot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap :10px;
  }
  ul{
   width:40%;
   flex-wrap: wrap;
   display: flex;
   align-items: center;
   justify-content: space-around;
    gap: 10px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  
  }
  .top{
    justify-self: space-around;
    gap: 10px;
    display: flex;
  }
  .tel{
    gap: 10px;
    display: flex;
    align-items: center;
  
  }
  .tel>input{
    width: 120px;
    border: none;
    outline: none;
  }
  .foot_bottom{
    color: rgba(65, 65, 65, 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .foot_bottom>p{
   display: inline;
   font-size: 16px;
  }
  .social{
   width: 75px;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
  }
    
    }


/* MAIN */

.cards>.card img{
  width: 100%;
  height: 40%;
}
.card{
  width: 272px;
  height: 349px;
  border-radius: 4px ;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  opacity: 0px;

   
} 
.ss{
  background: #fff;
  border: 1px solid green !important;
  transition: 1s  all ;
  color: #70C05B;
  width: 100%;

}
.ss:hover{
  color: #fff;
  border: 1px solid rgba(255, 102, 51, 1) !important;
  background-color: rgba(255, 102, 51, 1)!important;
}
.card-content img{
  width: 40px !important;
  height: 40px !important;
  font-size: 20px !important;
}
.card-content p{
  font-size: 16px;
}
.card-content{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 8px;
  flex-direction: column;
}












    
.humburger a{
    color: #fff;
    padding-left: 35px;
  }
  
  .navlink{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    position: absolute;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
 
    background-color: #eee;
    padding: 20px  90px;
    width: 1248px;
  opacity: 0;
  left: 0;
  right: 0;
  /* top: 0; */
  transition: 0.4s;
  }
  .navlink.show{
   opacity: 1;
  }
  
  .nav{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: flex-start;

  }
  .nav2{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: flex-start;

  }
  .nav3{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: flex-start;

  }
  .nav4{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 24px;
  }
  a{
  color: #414141;
  transition: 0.4s;
  }
  .nav_item a:hover{
  color: #FF6633;
  }
  
  

  @media (max-width: 768px) {
    .humburger a{
      color: #fff;
      padding-left: 35px;
    }
    
    .navlink{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
      position: absolute;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
   
      background-color: #eee;
      padding: 20px  90px;
      width:100%;
      height: 500px;
    opacity: 0;
    left: 0;
    right: 0;
    /* top: 0; */
    transition: 0.4s;
    }
    .navlink.show{
     opacity: 1;
    }
    
    .nav{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: flex-start;
  
    }
    .nav2{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: flex-start;
  
    }
    .nav3{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: flex-start;
  
    }
    .nav4{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 24px;
    }
    a{
    color: #414141;
    transition: 0.4s;
    }
    .nav_item a:hover{
    color: #FF6633;
    }
    
  }